.conteiner
    background #40babd
    background-image: url(/public/img/map.png) 
    background-size 100% 100%
    padding-top: 90px
    padding-bottom: 90px
    height 800px
    
  .conteiner-content
    text-align center
    margin 0 auto
    width 1200px

  .title
    margin: 0
    margin-bottom: 30px
    font-size: 36px
    font-weight: 300
    color: #fff
    
 
  .centr-img
    display flex
    padding-left 35px
    padding-right 35px
  .profile
    padding 5px
    display flex
  .photo3
    padding-left 65px
  .info
    padding-left 85px
    padding-right 12opx
    background: rgba(0, 0, 0, 0.2)
    margin-left: 105px
    border-left: none
    color #f1f1f1
    text-align center
  .jon
    color #384553
    padding-right 70%
    margin-right 5%
  .profile2
    padding 65px 35px 15px 65px
    display flex
    margin-left 15%
  .info2
    padding-left 85px
    padding-right 12opx
    background: rgba(0, 0, 0, 0.2)
    margin-left: 105px
    border-left: none
    color #f1f1f1
    text-align center
  .lisa
    color #384553
    padding-left 70%
    padding-top 15px
  .photo
    padding-left 65px
  .profile3
    padding 5px
    display flex
    padding-top 25px
  .photo4
    padding-left 65px
  .info3
    padding-left 85px
    padding-right 12opx
    background: rgba(0, 0, 0, 0.2)
    margin-left: 105px
    border-left: none
    color #f1f1f1
    text-align center
  .berlin
    color #384553
    padding-right 70%
    margin-right 15%
    padding-top 15px
  .profile4
    padding 65px 35px 15px 65px
    display flex
    margin-left 15%
  .info4
    padding-left 85px
    padding-right 12opx
    background: rgba(0, 0, 0, 0.2)
    margin-left: 105px
    border-left: none
    color #f1f1f1
    text-align center
  .ryan
    color #384553
    padding-left 70%
    padding-top 15px
  .photo2
    padding-left 65px