.wrapper-contact
  background #494d55

.wrapper-contacts
  padding-bottom 115px
  padding-top 35px
  background-image url(/public/img/map.png) 
  background-position center 
  text-align center
  margin 35px 95px
  padding-left 135px
  padding-right 135px

  .conts
    margin 0
    margin-bottom 15px
    font-size 36px
    font-weight 300
    margin-bottom 30px
    color #f1f1f1
    

  .text-conts
    max-width 600px
    margin 0 auto
    margin-bottom 60px
    padding-bottom 25px
    color: #f1f1f1
  .btn
    background #40babd
    color #f1f1f1
    border none
    border-radius 5px
    padding 15px 40px