.header
  display flex
  height 66px
  padding 0 16px
  justify-content: space-between;
  max-width 100%
  box-sizing: border-box
  background-color: #fff !important

  .icon
    padding 25px
    font-size: 20px
    cursor: pointer
    color #606060
  .png
    padding-left: -25px
    cursor: pointer
  .search 
    width: 500px;
    margin: auto;
    padding-top: 10px
    display: flex
    
    .input
      padding: 5px 15px;
      height 35px
      padding-left: 25px
      // background-image: url('/public/img/images.png') 
      // background-size: 35px auto;
      // // background-size: 0%
    .button
      background: #f8f8f8 
      cursor: pointer
      padding-right: 20px

  .icon-left
    display: flex
    padding-right: 15px
    padding-top: 15px
    .icones
      font-size: 20px
      padding-left: 15px
      color #606060
      cursor: pointer
    .profile
      padding-left: 25px
      border-radius: 50px 0px 0px 50px
      cursor: pointer