.header
  display flex
  height 66px
  padding 0 25px !important
  justify-content: space-between;
  max-width 100%
  box-sizing: border-box
  background-color: #fff !important
  .icon
    font-size: 19px
    cursor: pointer
    color #030303
    padding-top: 5px
  .png
    padding-left: -35px
    cursor: pointer
  .search 
    width: 600px;
    margin: auto;
    display: flex
    margin-bottom: 20px
    .icon-wrap
      cursor pointer
      font-size 16px
      &:hover
        color: #212121
        transition: all .5s
    .icone
      width: 70px
      &:hover
        color: #212121
        transition: all .5s
        background: #f0f2f5
  .icon-left
    display: flex
    padding-right: 5px
    .icones
      font-size: 20px
      padding-left: 20px
      color #606060
      cursor: pointer
    .profile
      padding-left: 25px
      cursor: pointer
      padding-top: 15px
      .photo
        border-radius: 50%;
        overflow: hidden;
        height 34px
        width 34px
      
      