.head 
  background-image url(/public/img/hero-1.jpg)
  background-size 100% 100%
.Header
  padding-bottom 115px
  padding-top 35px
  
  .header-top
    display flex
    justify-content space-between
    .letter
      color #f1f1f1 
      cursor pointer
      font-size 25px
      .span
        font-weight bold
    .menu
      display flex
      padding-top 15px
      .menu-item:hover{
        color:  #f1f1f1 
        }
      .menu-item
        padding-left 20px
        color#999999
        cursor pointer
        // &hover
        //   color gray
        transition: all .8s
  .header-bottom
    padding-top 15px
    display flex
    .menu-left
      padding-right 100px
      padding-top 60px
      color #f1f1f1 
      font-size 35px
      font-weight bold
      .p
        font-size 25px
        font-weight normal
      .button
        background #40babd
        color #f1f1f1 
        border none
        border-radius 5px
        padding 15px 30px
    img 
      width 570px
      bottom 0
      top inherit


  .container
    display flex
    justify-content center
    margin-top 50px

    .dot-1
      height 12px
      width 12px
      margin-left 10px
      margin-right 10px
      border-radius 50%
      cursor pointer
      background #40babd
    
    .dot
      background #d9d9d9
      height 12px
      width 12px
      margin-left 10px
      margin-right 10px
      border-radius 50%
      cursor pointer
    