.wrapper-team
  background #e2e2e2
  padding-bottom 115px
  padding-top 35px
  .wrapper-centr
    text-align center
  .team
    font-size 36px
    font-weight 300
    padding-top 30px
  .text-p2
    padding-top 15px
    color #b2b2b2
    font-weight 20px
    font-size 18px
    padding-bottom 45px
  .appkit
    margin auto
    max-width 800px
    margin-bottom 60px
  .iteam
    display flex
    max-width 800px;
    margin 0 auto;
    justify-content center
  .iteam1
    height 20%
    background #ffffff
    padding 35px 65px 35px 65px
    margin 35px 15px 35px 15px
    border-radius 3%
  .xia
    padding 15px
  .hi
    color #40babd
    padding-bottom 10px
    padding-top 10px
  .text-xia
    font-size 15px
    color #384553

