.header
  padding 35px 90px 15px 90px
  background #e4e4e4
  display flex 
  justify-content space-between
.menu
  display flex
  align-items flex-end 
.menu-left
  font-size 25px 
  font-weight bold
.menu-item
  padding-left 35px
  cursor pointer
.blue
  color: #7fa2b9
.container
  padding-top 100px
  padding-left 90px
  padding-right 90px
.main-img
  background#c8b5e0 
  height 400px
.dots-wrap
  margin-top: 50px
  display: flex
  justify-content: center
.point
  width 10px
  height 10px
  background  #969696
  border-radius: 5px
  margin: 0px 5px
.text
  padding: 60px 40px 60px 40px
  font-size: 15px

.items-wrapper
  display flex
  justify-content space-between
  margin 0px -20px

.item-wrap
  width 100%
  padding 0px 20px
.item-img
  width 100%
  height 155px
  background  #b5c4e1
.item-title
  font-size: 15px
  font-weight: bold
