.wrapper-content
  padding-bottom 115px
  padding-top 35px
  .prising
    text-align center
    padding-top 35px
    .pri
      margin 0
      margin-bottom 15px
      font-size 36px
      font-weight 300
    .item-prising
      display flex
      justify-content center
      padding-top 65px
      padding-bottom 65px
      margin-left -10px
      margin-right -10px
      .free, .free2, .free3
        width 300px
        background #75c181
        border-radius 3%
        padding-left 15px
        padding-right 15px
        margin 0 10px
        padding-top 35px
        padding-bottom 45px
      .free2
        background #40babd
      .free3
        background #f8a13f
      .hg1
        font-weight 800
        font-size 18px
        margin 0
        min-height 60px
        color #fbfbfb
      .pris-figure
        font-size 46px
        margin-bottom 15px
        .currency
          vertical-align super
          font-size 26px
          color #d0d0ce
        .number
          font-weight 500
          color #fbfbfb
      .desk
        margin-bottom 30px
        min-height 120px
      .text-prising
        margin-bottom 15px
        line-height 1.5
        color #fbfbfb
      .buy
        color #515151
      .buttons
        color #fbfbfb
        border none
        border-radius 5px
        padding 15px 30px
        background rgba(0,0,0,0.2)
        cursor pointer