*
  box-sizing border-box
body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  line-height 1.42857143
  margin 0
  min-width 360px
.h1, h1
  font-family inherit
  font-weight 500
  line-height 1.1
  color inherit
  margin 0
.h1, h1, button, input
  font-size 18px
i
  user-select none

input, button
  &:focus
    outline none

#root
  overflow hidden
