.content-2
  height calc(100vh - 64px)
  overflow-y auto
  overflow-x hidden
  .title
      margin-top: 36px;
      margin-left: 24px;
      
      .title-style
          color: #030303
          font-size: 25px;
          font-weight: 500;
  .content
    margin: 16px 15px
  .page-wrap
    display: flex
    .photo-user
        border-radius: 50%;
        overflow: hidden;
        height  50px
        width 105px
        margin-top: 20px 
        margin-right: 5px
  .content-title
    font-weight: 500
    color: #212121
    padding-top: 15px
    padding-bottom: 8px
    word-wrap normal
  .text
    padding-left: 52px
    