.AppKit
  text-align center
  .text
    margin 65px
    margin-bottom 15px
    font-size 36px
    font-weight 300
  .text1
    padding-top 5px
    color #c2c3c3
    font-weight 5px
    font-size 15px
  
  .imges
    display flex
    padding-top 35px
    padding-left 45px
    padding-right 45px
    justify-content center
  .item-img
    padding-right 5px
    padding-left 5px
  .item-conteiner
    margin 25px
  .item-inner
    display flex
    justify-content center
    padding-top 65px
    padding-bottom 65px
  .figure
    margin 0 15px
  .h3
    color #40babd
    font-weight bold
  .item
    color #616670
  