.wrapper
  padding-right: 500px
  padding-left: 500px
  margin-right: 120px
  margin-left: 120px
  text-align center
  padding-bottom 25px
  .text
    margin: 0
    margin-bottom: 15px
    font-size: 36px
    font-weight: 300
  .text1
    padding-top 5px
    color #c2c3c3
    font-weight 5px
    font-size 15px
  
  .imges
    display flex
    padding-top 35px
    padding-left 45px
    padding-right 45px
    justify-content center
  .item-img
    padding-left 25px
  .item-conteiner
    margin 25px
  .item-inner
    display flex
    justify-content center
    padding-top 65px
    padding-bottom 65px
  .h3
    color #40babd
    font-weight bold
  .item
    color: #616670
   